*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

:root{
    --typography-1:#2D3134;
    --typography-2:#676A6C;
    --color-1:#FF7B29;
    --color-2:#31C3E0;
}
/* common */
a{
    text-decoration: none;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}

/* HEader */
.header .body{
    display: flex;
    align-items: center;
    padding: 32px 0px;
}
.header .logo--1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: #FF7B29;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 8px;
}
.header .logo{
    margin-right: 216px;
}
.nav ul{
    display: flex;
}
.nav{
    align-items: center;
}
.nav a{
    position: relative;
    color: var(--typography-2, #676A6C);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 17px;
    
}
.nav a:hover,
.nav li.active a{
    color: var(--typography-1, #2D3134);
}
.nav li.active a::after{
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;   
    border-radius: 1px;
    background: #FF7B29; 
    left: 17px;
    bottom: 8px;
}
.btn{
    min-width: 131px;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 66px; /* 114.286% */
    letter-spacing: -0.14px;
    border-radius: 12px;
    background: var(--color-2, #31C3E0);
    padding: 0 16px
    
}
.header .contact-btn{
    width: 131px;
    border-radius: 8px;
    line-height: 48px;
    margin-left: auto;

}
.header .action{
    margin-left: 244px;
}
/* hero */
.hero .body{
    display: flex;
}
.hero .main-content .body .content-block{
    width: 38.72%;
}
.hero .main-content .body .media-block{
    width: 57.26%;
}
.hero .main-content .body .media-block .ima{
    position: relative;
}
.media-block .brush{
    margin-top: 23px;
    margin-left: 30px;
}
.media-block .girl{
    position: absolute;
    top: 18px;
    left: 86.36px;
}
.media-block .line{
    position: absolute;
    content: "";
    width: 462px;
    height: 2px;
    background: #1F1A1E;
    top: 527px;
    left: 25px;
    
}
.media-block .sumary{
    position: relative;
    width: 163px;
    height: 202px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.10);
    margin-top: -164px;
    margin-left: -5px;
}
.media-block .sumary .circle{
    position: absolute;
    top: 21.07px;
    left: 35.72px;
}
.media-block .sumary .inc{
    text-align: center;
}
.media-block .sumary .num-1{
    padding: 52px 0 1.61px 0;
    color: #0D1E3F;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.22; /* 122.222% */
}
.media-block .sumary .in4-1{
    color: #A5A8B4;
    font-family: Inter;
    font-size: 0.6rem;
    font-weight: 500;
    line-height: normal;
}
.media-block .sumary .num-2{
    color: #0D1E3F;
    text-align: center;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1; /* 100% */
    padding: 48.39px 0 8.76px;
}
.media-block .sumary .in4-2{
    color: #AEB4CF;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.hero .main-content .body .info-block{
    margin-left: -153px;
}
.hero .main-content .body .content-block .title{
    width: 453px;
    color: var(--typography-1, #2D3134);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.13; /* 112.903% */
    margin-top: 83px;
}
.hero .main-content .body .desc{
    margin-top: 17px;
    color: var(--typography-2, #676A6C);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.63; /* 162.5% */
    width: 352px;
}
.info-block{
    margin-top: 152px;
    margin-right: 0px;
}
.info-block .item{
    display: flex;
    
}
.info-block .item + .item{
    margin-top: 48px;
}
.info-block .item .info{
    margin-left: 20px;    
}
.info-block .item .info .label{
    color: #0A192D;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.33; /* 133.333% */
    margin-top: -2px;
}
.info-block .item .info .title{
    color: #777F8B;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
    
}
.btn-more{
    min-width: 191px;
    font-size: 1.8rem;
    font-weight: 600;
    /* line-height: 66px;  */
    letter-spacing: 0.18px;
    background: var(--color-1, #FF7B29);
    box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}
.more{
    display: flex;
    margin-top: 51px;
}
.learn-more{
    align-items: center;
    display: flex;
    border: none;
    background: #fff;
    margin-left: 28px;
}
.learn-more .lea{
    margin-left: 13px;
    color: #4D4F56;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
}
/* base */
.base{
    
    margin-top: 124px;
    margin-left: auto;
    margin-right: auto;
    width: 749px;
    fill: #FFF;
    filter: drop-shadow(0px 40px 100px rgba(110, 110, 110, 0.08));
    
}
.selec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.selec .item{
    height: 46px;
}
.selec .item .info{
    display: flex;
    margin-top: 16px;
}
.selec .item+.item{
    margin-left: 75px;
}
.selec .item .inf .label{
    color: #0A192D;
    font-family: "Inter";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.selec .item .info .title{
    
    color: #697280;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.selec .item .info .searching{
    margin-left: 8px;

}
.base .search{
    margin-left: 60px;
    box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.20);
    display: inline-flex;
}
.base .search .btn-search{
    min-width: 170px;
    line-height: 64px;
    border-radius: 8px;
    
    background: #132742;
    color: #FFF;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 88.89x; /* 88.889% */
    letter-spacing: 0.36px;
    
    
}
.btn-icon{
    
    margin-right: 4px;
}
/* .action */
